:root {
    --dark: #1A1613;
    --light: #F9E7D9;
    --highlight-1: #2F6D83;
    --highlight-2: #F61833;
    --highlight-3: #F67A2C;
    --highlight-4: #FDC513;
}

body {
    margin: 2rem;
    overflow: clip;
}

main {
    display: flex;

}

h1, h2, p {
    font-family: sans-serif;
}

h1 {
    font-size: 1.5em
}

.cover {
    width: 15rem;
    max-width: 100%;
}

.podcast {
    width: clamp(50vw, 75vw, 75vw);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: start;
}

#podcast-audio {
    display: block;
    appearance: none;
    width: 100%;
    height: 20vh;
    justify-self: center;
    margin-bottom: 4rem;
    background: transparent;
}

.transcript-container {
    width: 100%;
    height: 100vh;
    justify-self: center ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    border-radius: 1rem;
}

#podcast-transcript {
    text-align: center;
    justify-self: center;
    max-width: 600px;
    font-size: 2em;
    font-family: sans-serif
}



ul {
    display: flex;
    width: 90%;
    height: fit-content;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

li {
    background-color: var(--dark);
    color: var(--light);
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: var(--dark);
    border:solid 5px var(--highlight-3)
}