:root {
    --dark: #1A1613;
    --light: #F9E7D9;
    --extra-light: #fff8f3;
    --highlight-1: #2F6D83;
    --highlight-2: #F61833;
    --highlight-3: #F67A2C;
    --highlight-4: #FDC513;
}
@font-face {
    font-family: 'bold';
    src: url(./assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'medium';
    src: url(./assets/fonts/OpenSans-Medium.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(./assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'light';
    src: url(./assets/fonts/OpenSans-Light.ttf);
}
body {
    overflow: clip;
}

main {
    display: flex;
    gap: 2rem;
}

header {
    width: 100%;
    height: 1rem;
    background-color: transparent;
}

h1, h2, p {
    font-family: 'medium'
}

h1 {
    font-family: 'bold';
    font-size: 2.5em;
    margin: 0;
    text-transform: uppercase;
}

section {
    height: 100vh;
}

img {
    max-width: 100%;
    object-fit: contain;
}

/* about the podcast section */
.about-podcast {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;

    div:first-of-type {
        display: flex;
        gap: .5rem;
        margin-bottom: 3rem;

        img {
            max-width: 100%;
            width: 3rem;
        }
    }
}

.cover {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.podcast-title-container {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 1.5em;
        margin: 0;
        font-family: 'bold';
    }

    h2:first-of-type {
        font-size: 1em;
        margin-bottom: .5rem;
    }
}

/* transcriptie */
.podcast {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#podcast-audio {
    display: block;
    appearance: none;
    width: 100%;
    height: 10vh;
    justify-self: center;
    background: transparent;
}

.transcript-container {
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-rows: 65% 35%;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    border-radius: 1rem;

    div {
        text-align: center;
        max-width: 600px;
        font-size: 2em;
        font-family: 'medium';
        color: var(--dark);
    }
}

#podcast-transcript {
    margin-bottom: 1rem;
    align-self: end;
    translate: 0rem -4rem;
}

#next-transcript {
    font-size: 1.5em;
    opacity: .4
}

/* Speakers */
.speaker-section {
    display: flex;
    flex-direction: column;
}

ul {
    width: 100%;
    height: fit-content;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
        margin-top: 0;
    }

    li:not(li:nth-of-type(2n)) {
        color: var(--light);
        width: 10rem;
        height: 10rem;
        margin: 1rem;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: clip;
        opacity: .3;
        border: solid 5px transparent;
    }

    li:nth-of-type(2n) {
        height: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;

        p {
            margin: 0;
        }
    }
}

/* active speaker  */
li.active:not(li:nth-of-type(2n)) {
    border: solid 5px var(--highlight-3);
    opacity: 1;
}

/* expressed words in transcript */
.giggle {
    color: var(--highlight-1);
    font-size: 1.2em;
    font-style: italic;
}

.shut-up {
    color: white;
    font-size: 5em;
}

.best {
    font-size: 1.2em;
    color: var(--highlight-1)
}

.flexible {
    font-style: italic;
}

/* animationsss */
.intro-animation {
    animation: dancing-text 1s infinite alternate;
}

.rotate {
    animation: rotate 1s linear infinite;
}

@keyframes dancing-text {
    0% {
        translate: 0rem 0rem;
    }
    100% {
        translate: 0rem -3rem
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}