:root {
    --dark: #1A1613;
    --light: #F9E7D9;
    --extra-light: #fff8f3;
    --highlight-1: #2F6D83;
    --highlight-2: #F61833;
    --highlight-3: #F67A2C;
    --highlight-4: #FDC513;


}

@font-face {
    font-family: 'bold';
    src: url(./assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'medium';
    src: url(./assets/fonts/OpenSans-Medium.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(./assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'light';
    src: url(./assets/fonts/OpenSans-Light.ttf);
}

main {
    display: flex;
    gap: 2rem;
}

header {
    width: 100%;
    height: 1rem;
    background-color: transparent;
}

h1, h2, p {
    font-family: 'medium'
}

h1 {
    font-family: 'bold';
    font-size: 2.5em;
    margin: 0;
}

section {
    height: 100vh;
}

img {
    max-width: 100%;
    object-fit: contain;
}

/* about the podcast section */
.about-podcast {
    padding: 1rem;
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: start;

    div:first-of-type {
        display: flex;
        justify-content: space-between;
        gap: .5rem;
        margin-bottom: 3rem;

        img {
            max-width: 100%;
            width: 3rem;
        }
    }
}

.cover {
    width: 90%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.podcast-title-container {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 1.5em;
        margin: 0;
        font-family: 'bold';
    }

    h2:first-of-type {
        font-size: 1em;
        margin-bottom: .5rem;
    }
}

/* transcriptie */
.podcast {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#podcast-audio {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-self: center;
    position: sticky;
}

audio::-webkit-media-controls-panel {
    background-color: var(--light);
}

.transcript-container {
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
    border-radius: 1rem;
    box-shadow: 0 0 var(--glow-border) var(--dark);
    overflow: hidden;

    div {
        text-align: center;
        align-self: center;
        max-width: 600px;
        font-size: 2em;
        font-family: 'medium';
        color: var(--dark);
        transform-origin: center;
    }
}

#podcast-transcript {
    margin-bottom: 1rem;
    align-self: end;
    translate: 0rem -2rem;
    opacity: 1;
    transition: .3s;
}

#podcast-transcript.fade-out {
    translate: 0rem -5rem;
}

#next-transcript, #prev-transcript {
    font-size: 1.2em;
    opacity: .2
}

/* transcript speech progress bar */
.text-progress-container {
    background-color: var(--light);
    height: 30px;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 99px;

    #text-progress {
        height: 100%;
        background-color: var(--dark);
        border-radius: 99px;
        width: 0%;
    }
}

.transcript-border {
    border: solid 5px var(--highlight-3);
    /* box-shadow: 0px 0px 0px 10px var(--dark); */
}

/* Speakers */
.speaker-section {
    display: flex;
    flex-direction: column;
}

ul {
    width: 100%;
    height: fit-content;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
        margin-top: 0;
    }

    li:not(li:nth-of-type(2n)) {
        color: var(--light);
        width: 10rem;
        height: 10rem;
        margin: 1rem;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: clip;
        opacity: .3;
        border: solid 5px transparent;
    }

    li:nth-of-type(2n) {
        height: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;

        p {
            margin: 0;
        }
    }
}

/* active speaker  */
li.active:not(li:nth-of-type(2n)) {
    border: solid 5px var(--highlight-1);
    opacity: 1;
}

/* Footer */
footer {
    position: fixed; 
    bottom: 0;
    left: 75%;
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
    transition: .5s;
    translate: 0rem 7rem;

    .settings-label {
        width: 10rem;
        height: 6rem;
        background-color: var(--light);
        position: absolute;
        top: -50%;
        right: 10%;
        border-radius: 5px;
        background-color: var(--dark);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;

        input[type=checkbox] {
            appearance: none;
            width: 100%;
            height: 6rem;
            background-color: var(--light);
            border-radius: 5px;
            background-color: transparent;
            position: absolute;
        }

        p  {
            font-size: 1.2em;
            translate: 0rem -1.5rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    input[type=slider] {
        -webkit-appearance: none;
        appearance: none;
        background: var(--light);
        width: 10rem;
        height: 8px;
        outline: none;
        border-radius: 5px;
    }

    input[type=slider]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: var(--light);
        width: 1rem;
        height: 1rem;
        border-radius: 99px
    }

    label {
        color: var(--light);
        font-family: 'regular';
    }
}

footer:has(.show-settings:checked) {
    translate: 0rem 0rem;
}

/* expressed words in transcript */
.giggle {
    color: var(--highlight-1);
    font-size: 1.2em;
    font-style: italic;
}

.best {
    font-family: 'bold';
}

.old {
    display: inline-block;
    transform: scaleX(1.1);
    translate: -.5rem 0rem;
}

.flexible {
    font-style: italic;
}

/* animationsss */
.intro-animation {
    animation: dancing-text 1s infinite alternate;
}

.rotate {
    animation: rotate 1s linear infinite;
}

.color-change {
    animation: glow-size 2s infinite linear alternate;
    box-shadow: 0 0 var(--glow-border) var(--dark);
}

@keyframes dancing-text {
    0% {
        translate: 0rem 0rem;
    }
    100% {
        translate: 0rem -3rem
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes glow-size {
    from {
        --glow-border: 10px;
    }
    to {
        --glow-border: 30px;
    }
}
.spin-easter-egg {
    animation: rotate-screen 10s linear infinite;
}

@keyframes rotate-screen {
    to {
        transform: rotate(360deg);
    }
}

@property --glow-border {
    syntax: "<length>";
    initial-value: 10px;
    inherits: false;
}